<div class="card">
    <div class="card-body">
        <h3>Поздравляем, вы ответили на все вопросы теста!</h3>
        <p>Всего вопросов: {{ statistic['answersCount'] }}</p>
        <p>Из них правильных ответов: {{ statistic['rightAnswersCount'] }}, неправильных
            - {{ statistic['wrongAnswersCount'] }}</p>

        <div class="card">
            <div class="card-body">
                <h4>На эти вопросы вы ответили правильно: </h4>
                {% include 'quiz/_answers_list.html.twig' with {'answers' : statistic['rightAnswers']} %}
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h4>На эти вопросы вы ответили неправильно: </h4>
                {% include 'quiz/_answers_list.html.twig' with {'answers' : statistic['wrongAnswers']} %}
            </div>
        </div>

        <a href="/" class="btn btn-primary mt-3">Пройти тест заново</a>
    </div>
</div>